<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Osa Save Extractor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container my-5">
    <h1 class="mb-5">Osa Save Extractor</h1>
    <div class="row mb-4">
        <div class="card col-lg-6 p-0">
            <div class="card-header">
                <h5 class="card-title" th:text="#{ose.id}">Id</h5>
                <h6 class="card-subtitle mb-2 text-muted" th:text="#{ose.id.desc}"></h6>
            </div>
            <div class="card-body">
                <span th:text="${id}"></span>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="card col-lg-6 p-0">
            <div class="card-header">
                <h5 class="card-title" th:text="#{ose.local-saves}">Id</h5>
            </div>
            <div class="card-body">
                <select id="saves-select" class="custom-select w-100" th:if="${!localSaves.isEmpty}">
                    <option selected disabled hidden th:text="#{ose.local-saves.choose}"></option>
                    <option th:each="save : ${localSaves}" th:value="${save.value}" th:text="${save.key}"></option>
                </select>
                <div th:if="${localSaves.isEmpty}" th:text="#{ose.saves.none}"></div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="card col-lg-6 p-0">
            <div class="card-header">
                <h5 class="card-title" th:text="#{ose.server-saves}">Id</h5>
            </div>
            <div class="card-body">
                <select class="custom-select w-100" th:if="${!serverSaves.isEmpty}">
                    <option selected disabled hidden th:text="#{ose.server-saves.choose}"></option>
                    <option th:each="save : ${serverSaves}" th:value="${save.id}"
                            th:text="${save.name + ' [' + save.date + '] ('} + #{ose.creation-date} + ${' ' + save.creationDate + ')'}"></option>
                </select>
                <div th:if="${serverSaves.isEmpty}" th:text="#{ose.saves.none}"></div>
            </div>
        </div>
    </div>
    <div id="analyse" class="row mb-4">
        <div>
            <button id="analyse-button" type="button" class="btn btn-primary" th:disabled="${buttonDisabled}">
                <span th:text="#{ose.analyse}">Analyse</span>
            </button>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-lg-6">
            <div id="progress"></div>
        </div>
    </div>
</div>
<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script>
  let interval;
  const analyseButton = $('#analyse-button');

  $('#saves-select').on('change', function () {
    analyseButton.prop('disabled', false)
  });

  analyseButton.click(function () {
    updateProgress();
    interval = setInterval(updateProgress, 1000);
    analyseButton.prop('disabled', true)
    analyseButton.append('<span class="spinner-grow spinner-grow-sm pl-1" role="status" aria-hidden="true"></span>');
  });

  function updateProgress() {
    $.get("progress").done(function (fragment) {
      $("#progress").replaceWith(fragment);

      if (!$('#bar').length) {
        clearInterval(interval);
        $('#analyse').remove();
      }
    });
  }
</script>
</body>
</html>
